<div class="container">
	<div class="row first-row">
		<div class="col-md-12">
			<h2 class="large-font">Contact Information <span class="text-muted"></span></h2>
			<ul>				
				<li>
					<p class="lead"><span class="text-muted">Email:</span>info@obtc.kg</p>
				</li>				
			</ul>			
		</div>		
	</div>
	<%= render :partial => "contact/form" %>
</div> 