<div class="container main-container">

	<div class="row featurette-heading">
	    <div class="col-md-7">
	      <h2 class="large-font">Developing Cashmere <span class="text-muted">Changing Lives.</span></h2>
	      <p class="lead">Kyrgyzstan has some of the best Cashmere in the world, but unfortunately the cashmere industry is not YET developed here so many families don't know how to properly collect their cashmre and the ones that do end up selling it for much less than it is worth. </br></br>

	      Enter the <strong>OBTC</strong>. Our hope is to open a cashmere processing factory here in southern Kyrgyzstan. But first we need to develop clients to buy the cashmere and train the local shepherds on how to collect and improve the quaility of the cashmere even more!</br></br>

	      We are still looking for potential investors, so if you would like to jump on board and help develop this important industry, fill out the contact form below	          	
	      </p>
	    </div>
	    <div class="col-md-5">
	      <img class="featurette-image img-responsive" alt="Cashmere" src="<%= img_url_for_env('yarn.jpg')  %>">	          
	      <img class="featurette-image img-responsive" alt="Cashmere" src="<%= img_url_for_env('boy.jpg')  %>">
	    </div>
	</div>

	<%= render :partial => "contact/form" %>
</div>      