<div class="container">

	<div class="row featurette-heading">
    <div class="col-md-7">
      <h2 class="large-font">Developing Teachers <span class="text-muted">Changing Lives.</span></h2>
      <p class="lead">The English language is a highly sought skill as many here in Kyrgyzstan seek to do more business with the outside world. When someone learns English their chances of doing more business and earning a higher income raise drastically.</br></br>

        Enter the <strong>OBTC</strong>. Our goal is to help the English teachers here in Osh not only improve their own language skills but to also help them improve their ciriculums so that they will be able to better prepare their students for a rapidily shirking world.</br></br>

        We are still looking for potential investors, so if you would like to jump on board and help develop this important industry, fill out the contact form below	          	
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" alt="Cashmere" src="<%= image_path('book.jpg')  %>">	
    </div>
  </div>

  <%= render :partial => "contact/form" %>
</div>      