<div class="container">
	<div class="row featurette-heading">	        
	    <div class="col-md-5">
	      <img class="featurette-image img-responsive" alt="Image courtesy of photoraidz / FreeDigitalPhotos.net"  src="<%= img_url_for_env('cloud.jpg')  %>">
        </div>
        <div class="col-md-7">
	          <h2 class="large-font">Developing Programmers <span class="text-muted">Changing Lives.</span></h2>
	          <p class="lead">Almost every household in Kyrgyzstan now has a computer and businesses are rapidly seeking to modernize. While the internet remains a vast untapped resource, many companies are taking advantage of the lack of competition and making a name for themselves. But where will the next generation of developers come from?</br></br>

	          Enter the <strong>OBTC</strong>. In August of 2014 we hope to open a teaching center that will focus on raising up the business men and women who will be able to take advantage of this great opportunity.</br></br>

	          We are still looking for potential investors, so if you would like to jump on board and help develop this important industry, fill out the contact form below	          	
	          </p>
        </div>
	</div>	

	<%= render :partial => "contact/form" %>	
</div>      