<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h6>The following message is from <%= @email.name %> <%= @email.email %> via the obtc.kg contact form:</h6>
    <p><%= @email.message %></p>
  </body>
</html>