// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer-divider {
  height:25px;  
  margin: 15px 0px;
  background-image: url(image_path('footer_line_short.png'));
  background-size: contain;
  background-repeat: repeat-x;
}