<div class="container">
  <div class="row first-row">
    <div class="col-md-12">

      <h1>Listing Emails</h1>

      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th></th>
        </tr>

        <% @emails.each do |email| %>
        <tr>
          <td><%= email.name %></td>
          <td><%= email.email %></td>
          <td><%= email.message %></td>
          <td><%= link_to 'Show', email %></td>        
        </tr>        
        <% end %>
        
      </table>
    </div>    
  </div>  
</div> 