<div class="container">
	<div class="row first-row">
		<div class="col-md-12">			
			<h1>Email #<%= @email.id %></h1>			
			<%= @email.name %>
			<%= @email.email %>
			<%= @email.message %>
		</div>		
	</div>	
</div> 